{% extends "layout.html" %}
{% block content %}
        <div class="col-md-14">
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
                  <h1 style="color:#aaa;">Brain Image Segmentation using Machine Learning</h1>
            </div>
        </div>
<p>Brain MRI segmentation is an important task in many clinical applications. Various approaches for brain analysis rely
on accurate segmentation of anatomical regions. Quantitative analysis of brain MRI has been used extensively for
the characterization of brain disorders such as Alzheimer’s disease, epilepsy, schizophrenia, multiple sclerosis (MS),
cancer, and infectious and degenerative diseases.</p>

<p>Manual Segmentation requires outlining structures slice-by-slice, and is not only expensive and tedious but also
inaccurate due to human error. Not only that, segmentation is extremely time-consuming and initial hours of brain
tumor and strokes are crucial to diagnosing. Therefore, there is a need for automated segmentation methods to
provide accuracy close to that of expert raters’ with high consistency.</p>

<p>We propose to create a Deep Learning based Brain Segmentation web application that would fully automate the
process of Brain Segmentation to help in solving out those cases which are generally missed by the human eye and
save time.</p>

{% endblock content %}
